<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="cancelEditNode()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Play</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab title="Required" id="first-tab">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Variable name</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.required.variablename">
                        </div>
                    </div>
                </tab>
                <tab title="Optional">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Call marker</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.callmarker">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Minimum length</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.minimumlength">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Maximum length</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.maximumlength">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Timeout for input</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.timeoutofinput">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Maximum number of timeouts</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.maximumnumbertimeouts">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Maximum number of wrong inputs</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.maximumnumberwronginputs">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file interruptible</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-input-checkbox" type="checkbox" [(ngModel)]="showEditingNode.optional.mediafileinterruptible">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>User input media file</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="col-md-6" type="text" [(ngModel)]="showEditingNode.optional.userinputmediafile">
                            <button class="node-edit-button col-md-1 col-offset-2">A</button>
                            <button class="node-edit-button col-md-1">B</button>
                            <button class="node-edit-button col-md-1">C</button>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file for timeout input</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="col-md-6" type="text" [(ngModel)]="showEditingNode.optional.mediafiletimeoutinput">
                            <button class="node-edit-button col-md-1 col-offset-2">A</button>
                            <button class="node-edit-button col-md-1">B</button>
                            <button class="node-edit-button col-md-1">C</button>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file for wrong input</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="col-md-6" type="text" [(ngModel)]="showEditingNode.optional.mediafilewronginput">
                            <button class="node-edit-button col-md-1 col-offset-2">A</button>
                            <button class="node-edit-button col-md-1">B</button>
                            <button class="node-edit-button col-md-1">C</button>
                        </div>
                    </div>
                </tab>
                <tab title="Advanced">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file cached</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" [(ngModel)]="showEditingNode.advanced.mediafilecached" [value]="true"> Yes
                            <input class="node-edit-radio" type="radio" [(ngModel)]="showEditingNode.advanced.mediafilecached" [value]="false"> No
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="cancelEditNode()" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="saveEditNode()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>