<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="cancelEditNode()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Transfer</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab title="Required" id="first-tab">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Number to be transferred to (TLI)</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.required.numbertotransfer">
                                <option *ngFor="let option of numberTransfer" [value]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </tab>
                <tab title="Optional">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Call marker</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.callmarker">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Outbound pool</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.outboundpool">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Calling number (CLI)</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.callingnumber">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Maximum ring time (s)</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.optional.maximumringtime">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Transfer type</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" name="suggest" [(ngModel)]="showEditingNode.optional.transfertype" value="bridged"> Bridged
                            <input class="node-edit-radio" type="radio" name="suggest" [(ngModel)]="showEditingNode.optional.transfertype" value="explicit"> Explicit
                        </div>
                    </div>
                </tab>
                <tab title="Advanced">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>TLI number plan</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.tlinumberplan">
                                <option *ngFor="let option of listTliNumberPlan">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>TLI number format</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.tlinumberformat">
                                <option *ngFor="let option of listTliNumberFormat">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>TLI number screening</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.tlinumberscreening">
                                <option *ngFor="let option of listTliNumberScreening">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>CLI number plan</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.clinumberplan">
                                <option *ngFor="let option of listCliNumberPlan">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>CLI number format</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.clinumberformat">
                                <option *ngFor="let option of listCliNumberFormat">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>CLI number screening</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.clinumberscreening">
                                <option *ngFor="let option of listCliNumberScreening">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>CLI number presentation</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.advanced.clinumberpresentation">
                                <option *ngFor="let option of listCliNumberPresentation">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="cancelEditNode()" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="saveEditNode()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>