<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="cancelEditNode()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">IF</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab title="Required" id="first-tab">
                    <div class="col-md-12 tab-row" *ngFor="let item of listItem"> 
                      <div class="col-md-1">{{item.index}}:</div>
                      <select class="node-edit-select col-md-3" [(ngModel)]="item.select1">
                          <option *ngFor="let option of listItem1">{{option}}</option>
                      </select>
                      <select class="node-edit-select col-md-1" [(ngModel)]="item.select2">
                          <option *ngFor="let option of listItem2">{{option}}</option>
                      </select>
                      <select class="node-edit-select col-md-3" [(ngModel)]="item.select3">
                          <option *ngFor="let option of listItem3">{{option}}</option>
                      </select>
                      <input class="node-edit-text col-md-3" [disabled]="item.select3 != 'User value -->'" [(ngModel)]="item.input">
                    </div>
                </tab>
                <tab title="Optional">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Call marker</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.callmarker">
                        </div>
                    </div>
                </tab>
                <tab title="Advanced">
                    <div class="col-md-12 tab-row">
                        Not applicable
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="cancelEditNode()" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="saveEditNode()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>