<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="cancelEditNode()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Record</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab title="Required" id="first-tab">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Recording action</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" name="recordingaction" [(ngModel)]="showEditingNode.required.recordingaction" value="storeinvariable"> Store in variable
                            <input class="node-edit-radio" type="radio" name="recordingaction" [(ngModel)]="showEditingNode.required.recordingaction" value="emailaddress"> Email address
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Variable name</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <select class="node-edit-select col-md-8" [(ngModel)]="showEditingNode.required.variablename">
                                <option *ngFor="let option of listVariables">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Stop on dtmf input</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" name="stopondtmfinput" [(ngModel)]="showEditingNode.required.stopondtmfinput" [value]="true"> Yes
                            <input class="node-edit-radio" type="radio" name="stopondtmfinput" [(ngModel)]="showEditingNode.required.stopondtmfinput" [value]="false"> No
                        </div>
                    </div>
                </tab>
                <tab title="Optional">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Call marker</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-text col-md-8" [(ngModel)]="showEditingNode.optional.callmarker">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Beep before record</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" [(ngModel)]="showEditingNode.optional.beepbeforerecord" [value]="true"> Yes
                            <input class="node-edit-radio" type="radio" [(ngModel)]="showEditingNode.optional.beepbeforerecord" [value]="false"> No
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="col-md-6" type="text" [(ngModel)]="showEditingNode.optional.mediafile">
                            <button class="node-edit-button col-md-1 col-offset-2">A</button>
                            <button class="node-edit-button col-md-1">B</button>
                            <button class="node-edit-button col-md-1">C</button>
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file interruptible</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-input-checkbox" type="checkbox" [(ngModel)]="showEditingNode.optional.mediafileinterruptible">
                        </div>
                    </div>
                </tab>
                <tab title="Advanced">
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Silence elimination</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.advanced.silenceelimination">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Threshold</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-number col-md-3" type="number" [(ngModel)]="showEditingNode.advanced.threshold">
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Automatic Gain Enabled</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" name="automaticgainenabled" [(ngModel)]="showEditingNode.advanced.automaticgainenabled" [value]="true"> Yes
                            <input class="node-edit-radio" type="radio" name="automaticgainenabled" [(ngModel)]="showEditingNode.advanced.automaticgainenabled" [value]="false"> No
                        </div>
                    </div>
                    <div class="col-md-12 tab-row">
                        <div class="col-md-6 tab-col">
                            <span>Media file cached</span>
                        </div>
                        <div class="col-md-6 tab-col">
                            <input class="node-edit-radio" type="radio" name="mediafilecached" [(ngModel)]="showEditingNode.advanced.mediafilecached" [value]="true"> Yes
                            <input class="node-edit-radio" type="radio" name="mediafilecached" [(ngModel)]="showEditingNode.advanced.mediafilecached" [value]="false"> No
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="cancelEditNode()" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" (click)="saveEditNode()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>